<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="weatherfrog.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <weatherfrog.MySettings>
            <setting name="OptionsWindowPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="WeatherbitApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="City" serializeAs="String">
                <value />
            </setting>
            <setting name="Units" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="UpdateDesktop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LatestWeatherApiRequestDate" serializeAs="String">
                <value />
            </setting>
            <setting name="WeatherData" serializeAs="String">
                <value />
            </setting>
        </weatherfrog.MySettings>
    </userSettings>
</configuration>
